<div>
  <ul>
    <li>
      <mat-form-field>
        <mat-select placeholder="Favorite food">
          <mat-option *ngFor="let food of foods" [value]="food.value">
            test {{ food.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </li>
    <li>
      <mat-slider class="example-margin"
                  [disabled]="disabled"
                  [invert]="invert"
                  [max]="max"
                  [min]="min"
                  [step]="step"
                  [value]="value"
                  [vertical]="vertical">
      </mat-slider>
    </li>
    <li>
      <mat-icon class="small-icon" svgIcon="thumbs-up"></mat-icon>
      <mat-icon class="medium-icon" svgIcon="thumbs-up"></mat-icon>
      <mat-icon class="large-icon" svgIcon="thumbs-up"></mat-icon>
    </li>
    <li>
      <input matInput [ngModel]="person?.name" placeholder="MSRP" value="" name="msrp">
      <button (click)="onclick()">add person name</button>
    </li>
    <li>
      <mat-select placeholder="Return Records In" [(value)]='returnRecordsIn'>
        <mat-option *ngFor="let option of searchOptions" [value]='option'>
          {{ option }}
        </mat-option>
      </mat-select>
      <mat-selection-list #list [(ngModel)]="selectedOptions">
        <mat-list-option *ngFor="let filter of filterOptions"
                         [value]="filter.value"
                         [selected]='filter.selected'>
          <span *ngIf='filter.value === "filter1"'>
            Maximum number of records to return
          </span>
          <span *ngIf='filter.value === "filter2" && ((returnRecordsIn === "Dogs") || (returnRecordsIn === "Cats"))'>
            {{returnRecordsIn === 'Dogs' ? 'Minimum' : 'Maximum'}} number of breeds
          </span>
          <span *ngIf='filter.value === "filter3"'>
            Return random selection of {{returnRecordsIn}}
          </span>
        </mat-list-option>
      </mat-selection-list>

    </li>
  </ul>


</div>
